* {
  box-sizing: border-box;
}

.zoom {
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

#boxsize {
  height: 100px;
  width: 100px;
}
.product-entry {
  margin-bottom: 40px; }
  .product-entry .product-img {
    display: block;
    height: 350px;
    margin-bottom: 20px;
    position: relative; }
    .product-entry .product-img .tag {
      position: absolute;
      top: 10px;
      left: 10px; }
      .product-entry .product-img .tag .new {
        font-size: 11px;
        background: #FFC300;
        color: #fff;
        padding: .3em .5em;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px; }
      .product-entry .product-img .tag .sale {
        font-size: 11px;
        background: #DD3E3E;
        color: #fff;
        padding: .3em .5em;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px; }
    .product-entry .product-img .cart {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      display: block;
      padding: 0 1em;
      opacity: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .product-entry .product-img .cart p {
        display: block;
        margin-bottom: 0;
        width: 100%;
        text-transform: uppercase;
        font-size: 12px; }
        .product-entry .product-img .cart p span {
          display: inline-block; }
          .product-entry .product-img .cart p span a {
            display: block;
            color: #fff;
            padding: 1em; }
            .product-entry .product-img .cart p span a:hover {
              background: #FFC300; }
  .product-entry .desc h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px; }
    .product-entry .desc h3 a {
      color: #000; }
  .product-entry .desc .price span {
    color: #FFC300;
    font-weight: 400; }
  .product-entry .desc .price .sale {
    color: gray;
    text-decoration: line-through;
    font-weight: 300; }
  .product-entry:hover .product-img .cart {
    opacity: 1; }
