<!-- <div >
  <table>
       <tr>
       <th>productId</th>
         <th>productname</th>

     </tr>


      <tr *ngFor="let Product of products">
      <td>{{ Product.ProductId }}</td>
      <td>{{ Product.Product_name }}</td>
    </tr>

  </table>

</div> -->

<div class="card" style="width:400px">
     <div class="col-4" *ngFor="let Product of products">
       <img [src]='Product.Product_url'>
        <p><span>{{ Product.ProductId }}</span></p>
      <p><span>{{ Product.Product_name }}</span></p>
      <p><span>{{ Product.Product_price }}</span></p>
    </div>
  </div>


